html {
  scroll-behavior: smooth;
  height: 100%;
  position: relative;
  z-index: 0;
  overflow-y: scroll;
}

body {
  position: relative;
  height: 100%;
  z-index: 0;
}

header {
  position: fixed;
  top: 0;
  z-index: 2;
}

section {
  min-height: 100vh;
}

section#style-guide {
  height: 100%;
}

p {
  max-width: 45rem;
}

@media (max-width: 35rem) {
  p {
    max-width: 45rem;
    max-height: 12rem;
    overflow: scroll;
  }
}

.gap {
  visibility: visible;
}

@media (max-width: 35rem) {
  .gap {
    display: none;
  }
}

.intro {
  margin: 0 auto;
  padding-top: 30vh;
  text-align: center;
}

@media (max-width: 35rem) {
  .intro {
    margin: 0 auto;
    padding-top: 10vh;
    text-align: center;
  }
}

.icon-link {
  display: block;
  margin: 0 auto;
  width: fit-content;
  transition: 0.3s;
}

.homepage-down {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3vh;
  display: block;
  margin: 0 auto;
  width: fit-content;
  transition: 0.3s;
}

.icon-link img {
  max-width: 3rem;
}

.icon-link:hover,
.icon-link:active,
.icon-link:focus {
  transform: scale(1.25);
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  border-bottom-width: 0.1rem;
  border-bottom-style: solid;
  transition: 0.3s;
}

.row {
  align-items: center;
  align-self: center;
  height: 100%;
  width: 100%;
  z-index: 0;
}

a {
  z-index: 1;
}

.link-intext {
  color: white;
  text-decoration: underline;
  transition: 0.3s;
}

.link-intext:hover,
.link-intext:focus,
.link-intext:active {
  color: white;
  letter-spacing: 0.1rem;
}

.link-intext-b {
  color: black;
  text-decoration: underline;
  transition: 0.3s;
}

.link-intext-b:hover,
.link-intext-b:focus,
.link-intext-b:active {
  color: black;
  letter-spacing: 0.1rem;
}

.about {
  padding-left: 10vw;
  padding-top: 20vh;
}

.details {
  padding-top: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

.details h5 {
  padding-top: 10vh;
  text-align: right;
}

.img-bw {
  filter: grayscale(1);
  transition: 0.5s;
}

.img-bw:hover,
.img-bw:active,
.img-bw:focus {
  filter: grayscale(0.1);
}

.col {
  padding-left: 0;
  padding-right: 0;
}

.row {
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.swiper-slide img {
  max-width: 40vw;
  max-height: 40vw;
  object-fit: scale-down;
}

@media (max-width: 160rem) {
  .swiper-slide img {
    max-width: 30vh;
    max-height: 30vh;
    object-fit: scale-down;
  }
}

.overview {
  max-width: 45rem;
  width: fit-content;
  margin: 0 auto;
}

.swiper-button-next,
.swiper-button-prev {
  color: black;
  transition: 0.3s;
}

.swiper-button-next:hover,
.swiper-button-next:active,
.swiper-button-next:focus,
.swiper-button-prev:hover,
.swiper-button-prev:active,
.swiper-button-prev:focus {
  transform: scale(1.25);
}

#desktop {
  visibility: visible;
}

@media (max-width: 51rem) {
  #desktop {
    display: none;
  }
}

@media (min-width: 51.25rem) {
  #mobile {
    display: none;
  }
}

.alert {
  margin-top: 20vh;
  transition: 0.3s;
}

@media (max-width: 35rem) {
  .alert {
    display: none;
  }
}

.alert:hover,
.alert:active,
.alert:focus {
  transform: scale(1.15);
}

.alert img {
  max-width: 3rem;
}

.alert p {
  margin: 0;
}
